{% extends 'core/template_base_public.html' %}
{% load i18n %}
{% block title %}{% translate "Registration Failed" %}{% endblock %}

{% block card_content %}
<div class="auth-content">
    <p class="text-center">
        <div class="alert alert-danger" role="alert">{% translate "Your account did not activate, please contact support" %}!</div>
    </p>
    <div class="form-group">
        <a href="{% url 'login' %}" class="btn btn-block btn-primary">{% translate "Log in" %}!</a>
    </div>
</div>
{% endblock %}

{% block form_script %}

{% endblock %}