{% extends 'core/template_base_public.html' %}
{% load i18n %}
{% block title %}{% translate "Registration" %}{% endblock %}

{% block card_content %}
<div class="auth-content">
    {% for field in form %}
    {% for error in field.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endfor %}
    {% endfor %}
    <form id="signup-form" class="needs-validation" action="{% url 'django_registration_register' %}" method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="username" id="username" value="">
        <div class="form-group">
            <label for="email">{% translate "Email Address" %}</label>
            <input type="email" class="form-control underlined" name="email" id="email" placeholder="{% translate "Email Address" %}" required>
            <div class="invalid-feedback">
                {% translate "You must enter a valid Email Address" %}
            </div>
        </div>
        <div class="form-group">
            <label for="phone">{% translate "Phone Number" %}</label>
            <input type="number" class="form-control underlined" name="phone" id="phone" placeholder="{% translate "Phone Number" %}" required>
            <div class="invalid-feedback">
                {% translate "You must enter a valid Phone Number" %}
                <br>
                {% translate "International format only: 56987654321" %}
            </div>
        </div>
        <div class="form-group">
            <label for="password">{% translate "Password" %}</label>
            <div class="row">
                <div class="col-sm-6">
                    <input type="password" class="form-control underlined" name="password1" id="password1" minlength="4" placeholder="{% translate "Password" %}" required>
                    <div class="invalid-feedback">
                        {% translate "You must enter a valid password" %} ({% translate "4 characters min" %})
                    </div>
                </div>
                <div class="col-sm-6">
                    <input type="password" class="form-control underlined" name="password2" id="password2" minlength="4" placeholder="{% translate "Confirm" %} {% translate "Password" %}" required>
                    <div class="invalid-feedback">
                        {% translate "You must enter a valid password" %} ({% translate "4 characters min" %})
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-block btn-primary">{% translate "Create Account" %}</button>
        </div>
        <div class="form-group">
            <p class="text-muted text-center">{% translate "Already have an account?" %} <a href="{% url 'login' %}">{% translate "Log In" %}!</a></p>
        </div>
    </form>
</div>
{% endblock %}

{% block form_script %}
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            form.username.value = form.email.value;
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
</script>
{% endblock %}