{% extends 'core/template_base_public.html' %}
{% load i18n %}
{% block title %}{% translate "Registration Complete" %}{% endblock %}

{% block card_content %}
<div class="auth-content">
    <p class="text-center">
        <div class="alert alert-success" role="alert">{% translate "Please activate your account following the instrucctions in the email we just sent. Check the SPAM folfer just in case." %}!</div>
    </p>
    <div class="form-group">
        <a href="{% url 'login' %}" class="btn btn-block btn-primary">{% translate "Log in" %}!</a>
    </div>
</div>
{% endblock %}

{% block form_script %}

{% endblock %}