{% extends 'core/template_base_public.html' %}
{% load i18n %}
{% block title %}{% translate "Password Reset" %}{% endblock %}

{% block card_content %}
<div class="auth-content">
    <p class="text-center">
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">{{error}}</div>
        {% endfor %}
    </p>
    <form id="login-form" class="needs-validation" action="{% url 'password_reset' %}" method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <div class="form-group">
            <label for="username">{% translate "Username" %}</label>
            <input type="text" class="form-control underlined" name="email" id="username" placeholder="{% translate "Username" %}/{% translate "Email" %}/{% translate "Phone Number" %}" required autocomplete="username" aria-autocomplete="inline">
            <div class="invalid-feedback">
                {% translate "You must enter a valid username." %}<br>
                {% translate "Can be:" %}
                {% translate "Username" %}
                {% translate "Email" %}
                {% translate "Phone Number" %}
            </div>
        </div>                            
        <div class="form-group">
            <button type="submit" class="btn btn-block btn-primary">{% translate "Reset Password" %}</button>
        </div>
    </form>
</div>
{% endblock %}