{% extends 'core/template_base_public.html' %}
{% load i18n %}
{% block title %}{% translate "Password Reset" %}{% endblock %}

{% block card_content %}
<div class="auth-content">
    <form id="password-form" action="" class="needs-validation" method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label for="username">{% translate "Username" %}</label>
            <input type="text" class="form-control underlined" name="username" id="username" value="{{form.user.get_username}}" readonly="yes">
        </div>
        <div class="form-group">
            <label for="new_password1">{% translate "New Password" %}</label>
            <input type="password" class="form-control underlined" name="new_password1" id="new_password1" minlength="4" placeholder="{% Translate "New Password" %}" autocomplete="new-password" required>
            <div class="invalid-feedback">
                {% translate "You must enter a valid password" %} ({% translate "4 characters min" %})
            </div>
            {% if form.errors.new_password1 %}
                <div class="invalid-feedback" style="display: block">
                    {{form.errors.new_password1|striptags}}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="new_password2">{% translate "Confirm Password" %}</label>
            <input type="password" class="form-control underlined" name="new_password2" id="new_password2" minlength="4" placeholder="{% translate "Confirm Password" %}" autocomplete="new-password" required>
            <div class="invalid-feedback">
                {% translate "You must enter a valid password" %} ({% translate "4 characters min" %})
            </div>
            {% if form.errors.new_password2 %}
                <div class="invalid-feedback" style="display: block">
                    {{form.errors.new_password2|striptags}}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block btn-primary">{% translate "Reset Password" %}</button>
        </div>
    </form>
</div>
{% endblock %}